.App {
  text-align: center;
  margin: auto;
  max-width: 55rem;

  font-family: "Pretendard-Regular", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* border: 5px solid #e3d6cf; */
}

.headerLine {
  background: #e0d3cc;
  height: 10px;
  width: 100%;
  position: fixed;
}