body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Pretendard-Regular", "Pretendard-Thin", 'Pretendard-Light', "Pretendard-Light", 'Pretendard-ExtraLight', "Pretendard-SemiBold", "Pretendard-Bold", "Pretendard-ExtraBold", 
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/fonts/ttf/Pretendard-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('./assets/fonts/ttf/Pretendard-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url('./assets/fonts/ttf/Pretendard-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./assets/fonts/ttf/Pretendard-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./assets/fonts/ttf/Pretendard-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./assets/fonts/ttf/Pretendard-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('./assets/fonts/ttf/Pretendard-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('./assets/fonts/ttf/Pretendard-ExtraBold.ttf') format('truetype');
}